/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LAYOUT */

.admin-layout {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */

.sidebar {
  width: 250px;
  background: #343a40;
  color: white;
  min-height: 100vh;
  padding: 20px;
}

.logo {
  margin-bottom: 30px;
  font-size: 22px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 15px;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 10px;
}

.sidebar li:hover {
  background: #495057;
}

/* MAIN */

.main-content {
  flex: 1;
  background: #f4f6f9;
}

/* NAVBAR */

.navbar {
  height: 70px;
  background: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0,0,0,.08);
}

.navbar button {
  border: none;
  background: #e83e8c;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

/* CARD CONTAINER */

.cards {
  padding: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* COMMON CARD */

.dashboard-card {
  width: 300px;
  min-height: 150px;
  padding: 20px;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* INDIVIDUAL COLORS */

.product-card {
  background: #007bff;
}

.category-card {
  background: #28a745;
}

.user-card {
  background: #e83e8c;
}

/* CARD TEXT */

.card-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-content h1 {
  font-size: 36px;
  margin-bottom: 8px;
}

.card-content p {
  font-size: 14px;
}

/* ICON */

.card-icon {
  font-size: 45px;
}